<span class="badge"><%= link_to ingredient.name, ingredient_path(ingredient) %> &nbsp;</span>

<!-- rails comes from _recipe partial and automagically will render this for every ingredient. ingredient is also constructed automatically -->
           